* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);

    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(212, 22%, 13%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    background-color: var(--Very-Dark-Blue);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 385px;
    height: 385px;
    margin-left: -192.5px;
    margin-top: -192.5px;
    border-radius: 30px;
    padding: 30px;
    background-color: var(--Dark-Blue);
    text-align: left;
}

.container h1 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--White);
    padding-top: 30px;
    padding-bottom: 13px;
}

.container p {
    Font-size: 13px;
    color: var(--Medium-Grey);
    line-height: 22px;
    margin-bottom: 30px;
}

.containerThankYou {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 385px;
    height: 385px;
    margin-left: -192.5px;
    margin-top: -192.5px;
    border-radius: 30px;
    padding: 40px;
    background-color: var(--Dark-Blue);
    text-align: center;
}

.containerThankYou h1 {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--White);
    padding-top: 40px;
    padding-bottom: 13px;
}

.containerThankYou p {
    Font-size: 13px;
    color: var(--Medium-Grey);
    line-height: 22px;
    margin-bottom: 30px;
}

.star {
    position: relative;
    background-color: hsl(215, 21%, 17%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.star img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -7px;
    margin-top: -7.5px;
}

.imgThanks img {
    width: 150px;
    margin-bottom: 30px;
}

.selection {
    display: inline;
    padding: 7px 15px;
    border-radius: 30px;
    width: 200px;
    font-size: 13px;
    background-color: hsl(215, 21%, 17%);
    color: var(--Orange);
}

.ranking {
    display: flex;
    justify-content: space-between;
}

.ranking .buttons {
    padding: 13px 16px;
    border-radius: 50%;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
}

.ranking .colorPattern {
    color: var(--Medium-Grey);
    background-color: hsl(215, 21%, 17%);
}

.ranking .buttons:hover {
    background-color: var(--Orange);
    color: var(--White);
    cursor: pointer;
}

.rankingActive {
    background-color: var(--Medium-Grey);
    color: var(--White);
}

.submitButton {   
    margin-top: 25px;
    padding: 13px;
    width: 100%;
    border-style: none;
    border-radius: 30px;
    color: var(--White);
    background-color: var(--Orange);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.submitButton:hover {
    color: var(--Orange);
    background-color: var(--White)
}

@media (max-width: 375px) {
    .container {
        width: 330px;
        height: 340px;
        margin-left: -165px;
        margin-top: -170px;
        padding: 20px;
        border-radius: 15px;
    }

    .container h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .container p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .containerThankYou {
        width: 330px;
        height: 340px;
        margin-left: -165px;
        margin-top: -170px;
        padding: 20px;
        border-radius: 15px;
    }

    .containerThankYou h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .containerThankYou p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .star {
        width: 40px;
        height: 40px;
    }

    .star img {
        width: 13px;
        height: 13px;
        margin-left: -6px;
        margin-top: -6.5px;
    }

    .imgThanks img {
        width: 135px;
        margin-bottom: 30px;
    }

    .selection {
        padding: 5px 13px;
        border-radius: 30px;
        width: 190px;
        font-size: 12px;
        background-color: hsl(215, 21%, 17%);
        color: var(--Orange);
    }
}